.html
{
	background-color: #EBEBEB;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1459.7814345991555px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -68px;
}

#pu1990
{
	width: 0.01px;
	margin-left: 20px;
	position: relative;
}

#u1990
{
	z-index: 2;
	width: 920px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/cabezote2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u312
{
	z-index: 27;
	width: 536px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 14px;
}

#u119
{
	z-index: 11;
	background: url("../images/u119_states.png") no-repeat 0px 0px;
	position: relative;
	width: 111px;
	margin-right: -10000px;
	margin-top: 62px;
	left: 611px;
}

#u119_states
{
	height: 19px;
	width: 111px;
	vertical-align: top;
}

#u119:hover #u119_states
{
	background: url("../images/u119_states-r.png") no-repeat 0px 0px;
}

#u119:active #u119_states
{
	background: url("../images/u119_states-m.png") no-repeat 0px 0px;
}

#u126
{
	z-index: 15;
	background: url("../images/u126_states.png") no-repeat 0px 0px;
	position: relative;
	width: 62px;
	margin-right: -10000px;
	margin-top: 62px;
	left: 745px;
}

#u126_states
{
	height: 19px;
	width: 62px;
	vertical-align: top;
}

#u126:hover #u126_states
{
	background: url("../images/u126_states-r.png") no-repeat 0px 0px;
}

#u126:active #u126_states
{
	background: url("../images/u126_states-m.png") no-repeat 0px 0px;
}

#u128
{
	z-index: 19;
	background: url("../images/u128_states.png") no-repeat 0px 0px;
	position: relative;
	width: 83px;
	margin-right: -10000px;
	margin-top: 62px;
	left: 830px;
}

#u128_states
{
	height: 19px;
	width: 83px;
	vertical-align: top;
}

#u128:hover #u128_states
{
	background: url("../images/u128_states-r.png") no-repeat 0px 0px;
}

#u128:active #u128_states
{
	background: url("../images/u128_states-m.png") no-repeat 0px 0px;
}

#u117-4
{
	z-index: 29;
	position: relative;
	width: 46px;
	margin-right: -10000px;
	margin-top: 62px;
	left: 542px;
}

#u117-4_img
{
	display: block;
	vertical-align: top;
}

#u2002
{
	z-index: 141;
	width: 88px;
	height: 80px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 38px;
}

.ie #u2002
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#slideshowu437
{
	z-index: 33;
	width: 0.01px;
	height: 440px;
	margin-left: 20px;
	margin-top: 19px;
	position: relative;
}

#u479
{
	position: absolute;
	width: 920px;
	height: 355px;
	background-color: transparent;
}

#u479popup
{
	z-index: 34;
}

#u549
{
	z-index: 35;
	width: 920px;
	height: 355px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u567
{
	z-index: 37;
	width: 920px;
	height: 355px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u576
{
	z-index: 39;
	width: 920px;
	height: 355px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u585
{
	z-index: 41;
	width: 920px;
	height: 355px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u441
{
	position: absolute;
	width: 400px;
	padding-bottom: 91px;
	top: 301px;
	left: 266px;
}

#u441popup
{
	z-index: 43;
}

#u552
{
	z-index: 44;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 65px;
}

#u570
{
	z-index: 46;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 135px;
}

#u579
{
	z-index: 48;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 205px;
}

#u588
{
	z-index: 50;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 275px;
}

#u552.SSSlideLinkSelected,#u570.SSSlideLinkSelected,#u579.SSSlideLinkSelected,#u588.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 4px -10000px 0px 0px;
}

#u552_clip,#u570_clip,#u579_clip,#u588_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u552_img,#u570_img,#u579_img,#u588_img
{
	margin-left: -28px;
	margin-right: -28px;
}

#u439-4
{
	position: absolute;
	width: 10px;
	min-height: 67px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.54;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=54)";
	filter: alpha(opacity=54);
	padding: 10px;
	line-height: 67px;
	color: #DEDEDE;
	text-align: center;
	font-size: 48px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 128px;
	left: 10px;
}

#u439-4popup
{
	z-index: 52;
}

#u453-4
{
	position: absolute;
	width: 10px;
	min-height: 67px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.54;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=54)";
	filter: alpha(opacity=54);
	padding: 10px;
	line-height: 67px;
	color: #DEDEDE;
	text-align: center;
	font-size: 48px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 126px;
	left: 868px;
}

#u453-4popup
{
	z-index: 56;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u133
{
	z-index: 22;
	width: 920px;
	height: 355px;
	-pie-box-shadow: 0px 0px 8px 2px #BFBFBF;
	-moz-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: 20px;
	top: -440px;
	margin-bottom: -355px;
	position: relative;
}

#pppu1716
{
	width: 0.01px;
	margin-left: 12px;
	top: -63px;
	margin-bottom: -63px;
	position: relative;
}

#ppu1716
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u1716
{
	z-index: 3;
	width: 249px;
	position: relative;
	margin-right: -10000px;
}

#u675-4
{
	z-index: 60;
	width: 119px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 25px;
}

#u685-5
{
	z-index: 68;
	width: 230px;
	min-height: 180px;
	text-align: left;
	margin-left: 19px;
	margin-top: 14px;
	position: relative;
}

#u698
{
	z-index: 97;
	width: 80px;
	border-style: none;
	border-color: transparent;
	background-color: #0E5EA8;
	padding-bottom: 5px;
	margin-left: 19px;
	margin-top: 14px;
	position: relative;
}

#u699-4
{
	z-index: 98;
	width: 64px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#ppu1724
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u1724
{
	z-index: 7;
	width: 249px;
	position: relative;
	margin-right: -10000px;
}

#u679-4
{
	z-index: 64;
	width: 124px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 21px;
}

#pu687-7
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 14px;
	position: relative;
}

#u687-7
{
	z-index: 73;
	width: 239px;
	min-height: 179px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#u1070-4
{
	z-index: 106;
	width: 239px;
	min-height: 36px;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
}

#ppu688
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 628px;
}

#pu1716,#pu1724,#pu688
{
	width: 0.01px;
	position: relative;
}

#u688
{
	z-index: 80;
	width: 260px;
	border-style: none;
	border-color: transparent;
	background-color: #595959;
	position: relative;
	margin-right: -10000px;
	padding: 52px 15px 115.04999999999995px 25px;
}

#u694-4
{
	z-index: 81;
	display: block;
	vertical-align: top;
	margin-left: 48px;
	position: relative;
}

#u696-4
{
	z-index: 85;
	display: block;
	vertical-align: top;
	margin-top: 3px;
	position: relative;
}

#u697-8
{
	z-index: 89;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 5px;
}

#u2286-4
{
	z-index: 148;
	display: block;
	vertical-align: top;
	margin-left: 93px;
	margin-top: 14px;
	position: relative;
}

#pu1068-4
{
	width: 0.01px;
	margin-left: 31px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u1068-4
{
	z-index: 102;
	width: 239px;
	min-height: 36px;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
}

#u2281
{
	z-index: 146;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	left: 702px;
}

#u2277
{
	z-index: 142;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	left: 743px;
}

#u2279
{
	z-index: 144;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	left: 784px;
}

#pu1730
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 31px;
	position: relative;
}

#u1730
{
	z-index: 5;
	width: 249px;
	position: relative;
	margin-right: -10000px;
}

#u1089-4
{
	z-index: 137;
	width: 164px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 22px;
}

#u1086-4
{
	z-index: 110;
	width: 659px;
	min-height: 36px;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	margin-left: 131px;
	position: relative;
}

#u1084-19
{
	z-index: 118;
	width: 920px;
	min-height: 301px;
	margin-left: 20px;
	margin-top: 5px;
	position: relative;
}

#u685,#u687-2,#u1084-2,#u1084-3,#u1084-5,#u1084-6,#u1084-8,#u1084-9,#u1084-11,#u1084-12,#u1084-14,#u1084-16
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u1092-4
{
	z-index: 114;
	width: 659px;
	min-height: 36px;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	margin-left: 131px;
	position: relative;
}

#u684
{
	z-index: 9;
	width: 919px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #1A1919;
	padding-bottom: 27px;
	margin-left: 20px;
	margin-top: 42px;
	position: relative;
}

#u280-4
{
	z-index: 23;
	width: 409px;
	min-height: 22px;
	line-height: 12px;
	color: #FFFFFF;
	text-align: center;
	font-size: 10px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 5px;
}

body
{
	padding-bottom: 68px;
}

#page .verticalspacer
{
	clear: both;
}

