.html
{
	background-color: #F0EDED;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1524px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #F0EDED;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -68px;
}

#pu2439
{
	width: 0.01px;
	margin-left: 20px;
	position: relative;
}

#u2439
{
	z-index: 2;
	width: 920px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/cabezote2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u784
{
	z-index: 18;
	width: 536px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 14px;
}

#u781
{
	z-index: 7;
	background: url("../images/u781_states.png") no-repeat 0px 0px;
	position: relative;
	width: 111px;
	margin-right: -10000px;
	margin-top: 62px;
	left: 611px;
}

#u781_states
{
	height: 19px;
	width: 111px;
	vertical-align: top;
}

#u781:hover #u781_states
{
	background: url("../images/u781_states-r.png") no-repeat 0px 0px;
}

#u781:active #u781_states
{
	background: url("../images/u781_states-m.png") no-repeat 0px 0px;
}

#u782
{
	z-index: 11;
	background: url("../images/u782_states.png") no-repeat 0px 0px;
	position: relative;
	width: 62px;
	margin-right: -10000px;
	margin-top: 62px;
	left: 745px;
}

#u782_states
{
	height: 19px;
	width: 62px;
	vertical-align: top;
}

#u782:hover #u782_states
{
	background: url("../images/u782_states-r.png") no-repeat 0px 0px;
}

#u782:active #u782_states
{
	background: url("../images/u782_states-m.png") no-repeat 0px 0px;
}

#u783
{
	z-index: 15;
	background: url("../images/u783_states.png") no-repeat 0px 0px;
	position: relative;
	width: 83px;
	margin-right: -10000px;
	margin-top: 62px;
	left: 830px;
}

#u783_states
{
	height: 19px;
	width: 83px;
	vertical-align: top;
}

#u783:hover #u783_states
{
	background: url("../images/u783_states-r.png") no-repeat 0px 0px;
}

#u783:active #u783_states
{
	background: url("../images/u783_states-m.png") no-repeat 0px 0px;
}

#u786
{
	z-index: 21;
	background: url("../images/u786_states.png") no-repeat 0px 0px;
	position: relative;
	width: 44px;
	margin-right: -10000px;
	margin-top: 62px;
	left: 544px;
}

#u786_states
{
	height: 19px;
	width: 44px;
	vertical-align: top;
}

#u786:hover #u786_states
{
	background: url("../images/u786_states-r.png") no-repeat 0px 0px;
}

#u786:active #u786_states
{
	background: url("../images/u786_states-m.png") no-repeat 0px 0px;
}

#u2006
{
	z-index: 142;
	width: 88px;
	height: 80px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 38px;
}

.ie #u2006
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#ppu974
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 56px;
	position: relative;
}

#pu974
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u974
{
	z-index: 112;
	width: 667px;
	height: 296px;
	-pie-box-shadow: 6px 6px 8px #BFBFBF;
	-moz-box-shadow: 6px 6px 8px rgba(127, 127, 127, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(127, 127, 127, 0.5);
	box-shadow: 6px 6px 8px rgba(127, 127, 127, 0.5);
	border-style: none;
	border-color: transparent;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../images/banner4.jpg") no-repeat center center;
}

#pu1737
{
	width: 0.01px;
	margin-top: 38px;
	position: relative;
}

#u1737
{
	z-index: 113;
	width: 249px;
	position: relative;
	margin-right: -10000px;
}

#u1739-4
{
	z-index: 121;
	width: 119px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 25px;
}

#pu839-5
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 19px;
	position: relative;
}

#u839-5
{
	z-index: 24;
	width: 652px;
	min-height: 136px;
	position: relative;
	margin-right: -10000px;
}

#u844-4
{
	z-index: 84;
	width: 650px;
	min-height: 36px;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 2px;
}

#pu1750
{
	width: 0.01px;
	margin-top: 6px;
	position: relative;
}

#u1750
{
	z-index: 115;
	width: 249px;
	position: relative;
	margin-right: -10000px;
}

#u835-4
{
	z-index: 125;
	width: 124px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 22px;
}

#pu852-10
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 31px;
	position: relative;
}

#u852-10
{
	z-index: 29;
	width: 652px;
	min-height: 136px;
	position: relative;
	margin-right: -10000px;
}

#u1854-4
{
	z-index: 88;
	width: 650px;
	min-height: 36px;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 151px;
	left: 2px;
}

#ppu1783
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 697px;
}

#pu1783
{
	width: 0.01px;
	margin-left: 3px;
	position: relative;
}

#u1783
{
	z-index: 5;
	width: 229px;
	height: 38px;
	-pie-box-shadow: 0px 0px 8px 2px #BFBFBF;
	-moz-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5);
	background: #273B81 url("../images/u1783-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(10%, #046BB6),to(#273B81));
	background: -webkit-linear-gradient(top,#046BB6 10%,#273B81 );
	background: -moz-linear-gradient(top,#046BB6 10%,#273B81 );
	background: -ms-linear-gradient(top,#046BB6 10%,#273B81 );
	background: -o-linear-gradient(top,#046BB6 10%,#273B81 );
	background: linear-gradient(to bottom,#046BB6 10%,#273B81 );
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u882
{
	z-index: 101;
	background: url("../images/u882_states.png") no-repeat 0px 0px;
	position: relative;
	width: 144px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 43px;
}

#u882_states
{
	height: 24px;
	width: 144px;
	vertical-align: top;
}

#u882:hover #u882_states
{
	background: url("../images/u882_states-r.png") no-repeat 0px 0px;
}

#u882:active #u882_states
{
	background: url("../images/u882_states-m.png") no-repeat 0px 0px;
}

#pu1781
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 15px;
	position: relative;
}

#u1781
{
	z-index: 3;
	width: 229px;
	height: 38px;
	-pie-box-shadow: 0px 0px 8px 2px #BFBFBF;
	-moz-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5);
	background: #273B81 url("../images/u1781-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(10%, #056AB5),to(#273B81));
	background: -webkit-linear-gradient(top,#056AB5 10%,#273B81 );
	background: -moz-linear-gradient(top,#056AB5 10%,#273B81 );
	background: -ms-linear-gradient(top,#056AB5 10%,#273B81 );
	background: -o-linear-gradient(top,#056AB5 10%,#273B81 );
	background: linear-gradient(to bottom,#056AB5 10%,#273B81 );
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u891
{
	z-index: 105;
	background: url("../images/u891_states.png") no-repeat 0px 0px;
	position: relative;
	width: 80px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 75px;
}

#u891_states
{
	height: 24px;
	width: 80px;
	vertical-align: top;
}

#u891:hover #u891_states
{
	background: url("../images/u891_states-r.png") no-repeat 0px 0px;
}

#u891:active #u891_states
{
	background: url("../images/u891_states-m.png") no-repeat 0px 0px;
}

#pu1782
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 20px;
	position: relative;
}

#u1782
{
	z-index: 4;
	width: 229px;
	height: 33px;
	-pie-box-shadow: 0px 0px 8px 2px #BFBFBF;
	-moz-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5);
	background: #263D83 url("../images/u1782-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(10%, #0669B4),to(#263D83));
	background: -webkit-linear-gradient(top,#0669B4 10%,#263D83 );
	background: -moz-linear-gradient(top,#0669B4 10%,#263D83 );
	background: -ms-linear-gradient(top,#0669B4 10%,#263D83 );
	background: -o-linear-gradient(top,#0669B4 10%,#263D83 );
	background: linear-gradient(to bottom,#0669B4 10%,#263D83 );
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u894
{
	z-index: 109;
	background: url("../images/u894_states.png") no-repeat 0px 0px;
	position: relative;
	width: 104px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 67px;
}

#u894_states
{
	height: 24px;
	width: 104px;
	vertical-align: top;
}

#u894:hover #u894_states
{
	background: url("../images/u894_states-r.png") no-repeat 0px 0px;
}

#u894:active #u894_states
{
	background: url("../images/u894_states-m.png") no-repeat 0px 0px;
}

#u2368-4
{
	z-index: 149;
	display: block;
	vertical-align: top;
	margin-left: 63px;
	margin-top: 13px;
	position: relative;
}

#pu2366
{
	width: 0.01px;
	margin-left: 64px;
	margin-top: 4px;
	position: relative;
}

#u2366
{
	z-index: 147;
	width: 32px;
	position: relative;
	margin-right: -10000px;
}

#u2362
{
	z-index: 143;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	left: 41px;
}

#u2364
{
	z-index: 145;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	left: 82px;
}

#pu2372
{
	width: 0.01px;
	margin-top: 28px;
	position: relative;
}

#u2372
{
	z-index: 153;
	width: 160px;
	position: relative;
	margin-right: -10000px;
	left: 45px;
}

#u2374-4
{
	z-index: 155;
	width: 134px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 64px;
}

#u2375
{
	z-index: 159;
	width: 154px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 50px;
}

#u2377-11
{
	z-index: 161;
	width: 262px;
	position: relative;
	margin-right: -10000px;
	margin-top: 186px;
}

#u2378
{
	z-index: 172;
	width: 165px;
	position: relative;
	margin-right: -10000px;
	margin-top: 229px;
	left: 45px;
}

#u2375_img,#u2378_img
{
	padding-bottom: 1px;
}

#u2380-13
{
	z-index: 174;
	width: 262px;
	min-height: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 407px;
}

#u2377-2,#u2380-2,#u2380-4
{
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-weight: bold;
}

#u2377-4,#u2377-6,#u2377-8,#u2380-6,#u2380-8,#u2380-10
{
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-weight: normal;
}

#pu1756
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 34px;
	position: relative;
}

#u1756
{
	z-index: 117;
	width: 249px;
	position: relative;
	margin-right: -10000px;
}

#u864-4
{
	z-index: 129;
	width: 124px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 22px;
}

#pu862-15
{
	width: 0.01px;
	margin-left: 34px;
	margin-top: 18px;
	position: relative;
}

#u862-15
{
	z-index: 39;
	width: 652px;
	min-height: 262px;
	position: relative;
	margin-right: -10000px;
}

#u1856-4
{
	z-index: 92;
	width: 650px;
	min-height: 36px;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 2px;
}

#pu1762
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 13px;
	position: relative;
}

#u1762
{
	z-index: 119;
	width: 249px;
	position: relative;
	margin-right: -10000px;
}

#u876-4
{
	z-index: 133;
	width: 169px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 22px;
}

#u877-30
{
	z-index: 54;
	width: 652px;
	min-height: 2px;
	margin-left: 34px;
	margin-top: 28px;
	position: relative;
}

#u877-4,#u877-7,#u877-10,#u877-13,#u877-16,#u877-19,#u877-22
{
	font-weight: bold;
	font-style: italic;
}

#u839-2,#u852-2,#u852-3,#u852-5,#u852-6,#u852-7,#u862-2,#u862-3,#u862-5,#u862-6,#u862-8,#u862-9,#u862-10,#u862-11,#u862-12,#u877-2,#u877-3,#u877-6,#u877-9,#u877-12,#u877-15,#u877-18,#u877-21,#u877-24,#u877-25
{
	text-align: justify;
}

#u877-27
{
	text-align: justify;
	font-weight: bold;
	font-style: italic;
}

#u1858-4
{
	z-index: 96;
	width: 650px;
	min-height: 36px;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	margin-left: 36px;
	margin-top: 28px;
	position: relative;
}

#u1864
{
	z-index: 137;
	width: 919px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #1A1919;
	padding-bottom: 27px;
	margin-left: 20px;
	margin-top: 42px;
	position: relative;
}

#u1865-4
{
	z-index: 138;
	width: 409px;
	min-height: 22px;
	line-height: 12px;
	color: #FFFFFF;
	text-align: center;
	font-size: 10px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 5px;
}

body
{
	padding-top: 36px;
	padding-bottom: 77px;
}

#page .verticalspacer
{
	clear: both;
}

